[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pillow = "*"
"discord.py" = {version = "*", extras = ["voice",]}

[dev-packages]



[requires]

python_version = "3.6"
